<h1>Edit Internet connection</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.internet_connection_path(@conn, :update, @internet_connection)) %>

<span><%= link "Back", to: Routes.internet_connection_path(@conn, :index) %></span>
